@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling for quotes in markdown */
blockquote>p {
    font-style: italic;
    font-size: larger;
    border-left: 6px solid;
    padding-left: 0.6em;
}

/* ensure the images are displayed with similar ratios */
.tile-image {
    object-fit: cover;
    aspect-ratio: 2.16;
}

.btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }